
a:hover{
    text-decoration: none ;
}

.element p{
    padding: 15px;
    text-decoration: none;
    color: white;
}

.element a {
    text-decoration: none;
}

.element img{
    border-radius: 15px;
    height: 50%;
}

.IntroSection{
  margin: 30px auto 20px 70px;
  color: white;
}

.projets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    flex-wrap: wrap;
    gap: 40px;
    width: 90%;
    margin: auto;
    height: auto;
    justify-content: center;
}

.element {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    min-width: 300px;
    height: auto;
    background-color: #2A2D34;
    margin-bottom: 20px;
    font-size: 1em;
    box-shadow: 8px 12px rgba(0, 0, 0, 0.6);
    width: 100%;
}


.element:hover{
    background-color: #F25757;
    border: 1px solid #2A2D34;
}

.element:hover h3{
    color: white;
    background-color: #BEB2C8;
}

.element:hover img{
    opacity: 1;
}

.element:hover p{
    color: white;
}
.screen {
    width: 100%;
    min-width: 300px;
    padding: 0px;
    object-fit: cover;
}


h3{
    margin: 0px auto 5px 0px;
    text-align: center;
    color: white;
    background-color: #F25757;
    border: 1px solid #1F2039;
    box-sizing: border-box;
    width: 100%;
}
#bientot{
    text-align: center;
    margin: auto;
}


@media screen and (max-width : 1200px) {
    p{
        font-size: 0.9em;
    }

    h3 {
        font-size: 1em;
    }

    h2{
        font-size : 1.4em
    }
}

@media  (max-width:500px) {

    p{
        font-size: 0.8em;
    }
    .IntroSection {
        margin-left: 30px;
    }
    .projets {
        justify-content: center;
    }

    h2{
        font-size: 1em;
        margin: 20px 50px 20px 30px;
    }
}