ul,
ol{font-size: 1em; 
  font-family: 'Manrope'; 
  color: #F9F8FF; 
  margin-bottom: 30px;
}
table{border-collapse: collapse;
    margin: auto auto 100px auto;
    color: white;
    width: 70%;
    height: 350px;
    text-align: center;
}
caption {margin-bottom: 50px; 
  font-size: 2em;
}

td, th {border: 1px solid #8e86b5 ;
       padding: 15px;
}

th{padding: 1px; 
  font-weight: 100;
}

.apropos { width:60%;
          position: relative; 
          top: 0%; 
          left: 25%; 
          margin-bottom: 60px;
}

@media screen and (max-width : 996px) {
    table {
   display: none;
 }
.apropos {
    left: 0%;
    text-align: left;
    word-break: normal;
    width: 100%;
}
section {
    padding: 20px;
}
h2 {
    margin-bottom: 10px;
    margin-top: 40px;
}

}