a {text-decoration: none; 
  font-size: 1em; 
  font-family: 'Manrope';
}

.imp{color: #A5B4FC;
}

h1, legend{font-style: 3.5em; 
          color: #A5B4FC; 
          font-family: 'Montserrat';
}

h2{color: #F9F8FF;
  margin: 20px auto 50px auto;
}

p{font-size: 1.1em; 
  font-family: 'Manrope'; 
  color: #F9F8FF; 
}

img {max-width: 100%;
     height: auto;
}

header,
footer{background-color: white; 
      color: #242424; 
      padding: 20px 20px 50px 50px;
}

body{background-color: #1F2039;
}

.cta{ 
font-family:'Manrope';
background:linear-gradient(#8E86B5,#ACAEED);
color: #F9F8FF; 
border-radius: 50px;  
padding: 10px 15px 10px 15px;
text-align: center;
margin: auto auto 20px auto;
width: 30%;
}

main{border-bottom: 1px solid #8e86b5 ;
    border-right:  1px solid #8e86b5; 
    width: 100%;
}

.cta:hover {background: linear-gradient(#696484, #8788ba);
            text-decoration: none;
            cursor: pointer;
}

a:hover {text-decoration: underline;
}

a [class =lien-icone]:hover{
  opacity: 0.5;
  text-decoration: none;
}

section {padding: 80px 40px;
}


header {display: flex; 
        justify-content: space-between;
}


nav{display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}






@media screen and (max-width : 996px) {
  h1 {
    font-size: 2em;
  }
 
 footer, header {
  padding: 20px;
 }
 nav a { 
 text-align: center;
 }
 header nav { 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {width: 100%;}

section {
  padding: 40px 20px;
}
}